.button {
	border: none;
	font-size: 1rem;
	@include block("Red");
	padding: 0.75em 1.25em 1em 1.25em;
	line-height: 1rem;

	@each $color-name, $color-value in $colors {
		&--#{to-lower-case($color-name)} {
			background-color: $color-value;
			color: contra($color-value);
		}
	}
	&:focus {
		box-shadow: var(--shadow), 2px 2px 0 0 white;
		outline: 0;
	}
}
