@mixin block($color: "IceLight") {
	$clr: color($color);
	--shadow: 0rem -0.25rem 0rem 0 #{darken($clr, 20%)} inset;
	box-shadow: var(--shadow);
	border-radius: 1rem;
	background-color: $clr;
	padding: grid(1);
}
@mixin blockShadow($color: "IceLight") {
	box-shadow: var(--shadow),
		0rem var(--shadow-size, 0.25rem) 0 0
		var(--shadow-color, rgba(0, 0, 0, 0.25));
}
